<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-secondary-theme shadow-effect">
                <div class="card-body text-center">
                    <h3 class="text-center text-theme-primary">All Blog Posts</h3>
                    <p class="text-center mb-5">You can manage blog post</p>

                    <button class="btn btn-info bg-thime" routerLink="/deshboard/newpost"> Add New Post</button>
                    <button class="btn btn-warning" style="margin-left: 5px;" routerLink="/deshboard"> Back to Dashboard</button>
                </div>
            </div>
         </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect">
                <div class="card-body">
                    <table class="table row-border hover">
                        <thead>
                            <tr>
                                <th> SL </th>
                                <th> Category </th>
                                <th> Post Img </th>
                                <th> Title </th>
                                <th> Created At </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of Posts;let i=index">
                                <td width="10">{{i+1}}</td>
                                <td width="100">{{post.data.category?.category}}</td>
                                <td width="200"> <img src="{{post.data.postImgPath}}" class="img img-fluid"> </td>
                                <td width="300">{{post.data.title}}</td>
                                <td width="100">{{post.data.createdAt.toMillis() | date }}</td>
                                <td width="100"> 
                                    <button class="btn btn-sm btn-warning" routerLink="/deshboard/newpost" [queryParams]="{id:post.id}">Edit</button> | 
                                    <button class="btn btn-sm btn-warning" (click)="OnDelete(post.id,post.data.postImgPath)">Delete</button> 

                                    <button *ngIf="!post.data.isfeatured" class="btn btn-sm btn-success" (click)="OnFeatured(post.id,true)">Make Featured</button> 
                                    <button *ngIf="post.data.isfeatured"  class="btn btn-sm btn-warning" (click)="OnFeatured(post.id,false)">Remove Featured</button> 
                               </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
