<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-secondary-theme shadow-effect">
                <div class="card-body text-center">
                    <h3 class="text-center text-theme-primary">All Blog Posts</h3>
                    <p class="text-center mb-5">You can manage blog post</p>

                    <button class="btn btn-info bg-thime" routerLink="/deshboard/newpost"> Add New Post</button>
                    <button class="btn btn-warning" style="margin-left: 5px;" routerLink="/deshboard"> Back to Dashboard</button>
                </div>
            </div>
         </div>
    </div>
</div>
