<div class="container">
    <div class="row">
        <img src="https://images.pexels.com/photos/269583/pexels-photo-269583.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Blog post image" class="card-img-top">

        <div class="d-flex justify-content-start mb-2">
            <span class="badge bg-light text-danger px-2 py-1">Design</span>
            <span class="badge bg-light text-success ml-3 px-2 py-1">Future</span>
            <span class="badge bg-light text-info ml-3 px-2 py-1">Views - 100</span>
            <span class="badge bg-light text-warning px-2 py-1">Last Update - SEP 20, 2024</span>
        </div>

        <div class="col-md-9">
            <div class="card">                   
                 <div class="card-body">
                    <h3 class="mt-1">This is the blog header</h3>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia reiciendis accusantium a, deserunt sed et aliquam illo dolorem dignissimos reprehenderit iure corporis ex molestias deleniti quod sunt veritatis nobis modi repudiandae nihil id porro accusamus sequi. Laborum mollitia amet culpa, veritatis officia nisi vero inventore, libero totam eos sequi ullam.</p>
                  <p>Iusto similique, explicabo et at perspiciatis recusandae, tempora veritatis blanditiis hic nesciunt enim. Quam perferendis laudantium eligendi accusamus totam omnis dolorum incidunt sequi aperiam tempore, laborum officiis voluptates ab reiciendis voluptatem illo nobis dicta rem aut cupiditate, veritatis aliquid? Sequi molestias, pariatur doloremque corrupti animi neque perferendis similique consequuntur nihil.</p>
                  <p>Enim recusandae atque debitis illum odio impedit amet quae dolorem blanditiis quisquam? Deleniti officia animi quibusdam repudiandae inventore nihil, a veritatis! Assumenda expedita quaerat molestiae voluptatibus! Voluptates laboriosam sit et dolorum minima ullam! Eos aspernatur eum excepturi mollitia officia assumenda blanditiis corrupti ipsum, ex ducimus quibusdam? Dolorum illum blanditiis atque?</p>
                  <p>Dolorem, animi harum. Commodi pariatur, labore repellat quae iusto minima dolores nihil tenetur esse, illum alias voluptates reiciendis dicta deserunt vitae veniam quis at? Tempore, repellendus, officiis at, quod placeat temporibus harum fuga non praesentium vero earum ipsa asperiores omnis. Et dolorem dolor cupiditate voluptates nisi illum odit nesciunt quasi.</p>
                  <p>Sit odio corporis rem tempora, recusandae provident ab incidunt fugiat a, voluptatem quo repellat. Deleniti iure libero consectetur nesciunt possimus animi voluptates laborum ad necessitatibus, tempora velit id, molestias vitae facilis ipsam veritatis. Accusantium ut, qui esse dolores hic aliquam odit nesciunt atque voluptas sapiente, perferendis ad quasi vitae officia!</p>
                  <p>Sequi repudiandae amet aliquam vitae explicabo. Maxime voluptas quia libero odio iusto dicta recusandae, possimus voluptates minus veniam eveniet pariatur nihil, illum dolore nisi harum fuga facere inventore cupiditate, perferendis laudantium dignissimos? Libero voluptate quaerat ipsa unde nesciunt quod perspiciatis illum officiis minus pariatur iure numquam labore, repudiandae similique voluptatem!</p>
                  <p>Optio autem beatae, illum obcaecati, repudiandae libero exercitationem ipsum quaerat dolore fugiat ipsa sunt perferendis architecto cumque nam reprehenderit, repellendus consequuntur deserunt ad accusantium distinctio eveniet dicta inventore harum. Doloribus consequuntur quibusdam molestias amet ipsam, fugit sint omnis dicta illo numquam fuga et labore eaque perspiciatis reiciendis repellendus veniam vel?</p>
                </div>
            </div>
            <app-comment></app-comment>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>
