<section>
    <div class="container bg-theme p-4">
        <h1 class="text-white text-center mb-4">About Us</h1>
        <p class="text-white text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus fugiat suscipit illum aliquid inventore odio molestias aspernatur, necessitatibus vitae aut, reprehenderit maxime quaerat mollitia. Ut tempora quae a cum voluptas?</p>
        <p class="text-white text-justify">Expedita nostrum repellat laborum voluptas. Saepe, voluptate! Aspernatur voluptatem fugit suscipit laudantium, consequuntur itaque sequi voluptates. Unde, minus! Consequatur rem ipsa necessitatibus odit iste quisquam facere esse. Provident, impedit dolorum.</p>
        <p class="text-white text-justify">Neque odit dolorum rem modi consectetur porro adipisci quos eos in itaque? Enim illum eius minus quis aut debitis voluptatum. Incidunt molestias repellendus unde odit cumque, doloribus soluta ipsum hic?</p>
        <p class="text-white text-justify">Perspiciatis ullam quas deleniti corrupti voluptatem reprehenderit! Maxime, reprehenderit ipsam qui sapiente accusantium corrupti nisi delectus sit quisquam similique! Totam tempora ullam sed voluptas beatae vitae esse perferendis expedita mollitia.</p>
        <p class="text-white text-justify">Ad est voluptates consequuntur laudantium itaque, tempora eligendi ex? Voluptas dicta laborum mollitia doloribus sequi pariatur eum odio at laudantium reiciendis facilis, explicabo voluptates! Commodi inventore magni doloribus exercitationem sequi?</p>
    </div>
</section>

