<div class="container">
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-body text-center bg-theme" routerLink="cat">
                    <h2><i class="fa fa-clipboard-list"></i></h2>
                    <h3>Category Mange </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-body text-center bg-theme" routerLink="allpost">
                    <h2><i class="fa fa-clipboard-list"></i></h2>
                    <h3>Post Mange </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-body text-center bg-theme">
                    <h2><i class="fa fa-clipboard-list"></i></h2>
                    <h3>Card </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-body text-center bg-theme">
                    <h2><i class="fa fa-clipboard-list"></i></h2>
                    <h3>Card </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-body text-center bg-theme">
                    <h2><i class="fa fa-clipboard-list"></i></h2>
                    <h3>Card </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-body text-center bg-theme">
                    <h2><i class="fa fa-clipboard-list"></i></h2>
                    <h3>Card </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
