<div class="card" (click)="goToPost(1)">
    <img src="https://images.pexels.com/photos/269583/pexels-photo-269583.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Blog post image" class="card-img-top">
    <div class="card-body">
        <div class="d-flex justify-content-start mb-2">
            <span class="badge bg-light text-danger px-2 py-1">Design</span>
            <span class="badge bg-light text-success ms-1 px-2 py-1">Future</span>
            <span class="badge bg-light text-info ms-1 px-2 py-1">Views - 100</span>
        </div>
        <h5 class="mt-1">This is the blog header</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem soluta eius ex officiis molestiae magni fugiat, beatae tenetur praesentium vel!</p>
        <span class="badge bg-light text-warning px-2 py-1">Last Update - SEP 20, 2024</span>
    </div>
</div>
